<launch>
    <!-- 
        detection_worlds
            aruco_6X6_250
            aruco_6X6_2502
            future_aircraft
            landing_pad
            multi_person
            random_marker
            world_for_yolo_test
    -->
    <arg name="wname_class" default="detection_worlds"/>
    <arg name="wname" default="aruco_6X6_2502"/>
    <arg name="debug" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="paused" default="true"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="headless" default="false"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find gazebo_worlds)/worlds/$(arg wname_class)/$(arg wname).world"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="headless" value="$(arg headless)"/>
    </include>
</launch>