<launch>
    <!-- 
        exploration_worlds
            A1_complex
            A1_complex18
            A1_complex20
            A1_upgrade
            A1
            t1
            ZY_world_outdoor8
            ZY_world1_simplify
            ZY_world1
            ZY_world2_outdoor
    -->
    <arg name="wname_class" default="exploration_worlds"/>
    <arg name="wname" default="ZY_world2_outdoor"/>
    <arg name="debug" default="false"/>
    <arg name="gui" default="true"/>
    <arg name="paused" default="true"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="headless" default="false"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find gazebo_worlds)/worlds/$(arg wname_class)/$(arg wname).world"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="headless" value="$(arg headless)"/>
    </include>
</launch>