<launch>
    <!-- 
        gazebo_official_worlds
            actor_bvh.world
            actor.world
            animated_box.world
            animation_tension.world                                              #false
            attach_lights.world
            blank.world
            blink_visual.world
            cafe.world
            camera_intrinsics.world
            camera.world
            cart_demo.world
            cessna_demo.world
            collision_zero.world
            contact.world
            contain_plugin_demo.world
            contain_plugin_moving_demo.world
            deform_visual.world
            depth_camera2.world
            depth_camera.world
            elevator.world
            empty_1_0.world
            empty_bullet.world
            empty_sky.world
            empty.world
            everything.world                                                     #false
            fiducial.world                                                       #false
            flash_light_plugin_demo.world
            flocking.world
            force_torque_demo.world
            friction_demo.world
            friction_pyramid.world
            fuel_models.world
            gravity_compensation.world
            gripper.world
            harness.world
            heightmap_dem.world
            heightmap.world
            hydra_demo.world
            imu_demo.world
            initial_velocity.world
            init_joint_control.world
            iris_arducopter_demo.world                                           #false
            joint_damping_demo.world
            joint_friction_demo.world
            joints.world
            joy_demo.world
            keys_to_cmd_vel.world
            led_plugin_demo.world
            lensflare_plugin.world
            lensflare_wideangle_cam.world
            lift_drag_demo.world 
            lights.world
            linear_battery_demo.world
            logical_camera.world
            lookat_demo.world
            magnetometer.world
            mass_on_rails.world
            misalignment_plugin_demo.world
            mud_bitmask.world
            mud.world
            multilink_shape.world
            nested_model.world
            nested_multilink_shape.world
            openal.world
            ortho.world
            osrf_elevator.world
            pioneer2dx_camera.world
            pioneer2dx_laser_camera.world
            pioneer2dx_laser.world
            pioneer2dx.world
            plane_demo.world
            plane_propeller_demo.world
            plot3d.world
            plugin.world
            point_light_shadows_demo.world
            polyline.world
            population.world
            pr2.world
            presentation.world
            pressure_sensor.world
            profiler.world
            projector.world
            random_velocity.world
            ray_cpu.world
            ray_noise_plugin.world
            reflectance.world
            road_textures.world
            road.world
            robocup09_spl_field.world
            robocup14_spl_field.world
            robocup_3Dsim.world
            rubble.world
            seesaw.world
            shapes_bitmask.world
            shapes_layers.world
            shapes_shininess.world
            shapes.world
            sim_events.world
            simple_arm_teleop.world
            simple_arm.world
            simple_gripper.world
            single_rotor_demo.world
            sonar_demo.world
            sphere_atlas_demo.world
            spotlight_shadows_demo.world
            ssao_plugin.world
            stacks.world
            static_map_plugin.world
            timer_gui.world
            torsional_friction_demo.world
            touch_plugin_demo.world
            tracked_vehicle_simple.world
            tracked_vehicle_wheeled.world
            transporter.world
            trigger.world
            twin_rotor_demo.world
            underwater.world
            variable_gearbox_plugin.world
            willowgarage.world
            wind_demo.world
            wireless_sensors.world
            zephyr_demo.world
    -->
    <arg name="wname" default="lift_drag_demo"/>
    <!-- these are the arguments you can pass this launch file, for example paused:=true -->
    <arg name="paused" default="true"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="extra_gazebo_args" default=""/>
    <arg name="gui" default="true"/>
    <arg name="recording" default="false"/>
    <!-- Note that 'headless' is currently non-functional.  See gazebo_ros_pkgs issue #491 (-r arg does not disable
        rendering, but instead enables recording). The arg definition has been left here to prevent breaking downstream
        launch files, but it does nothing. -->
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>
    <arg name="physics" default="ode"/>
    <arg name="verbose" default="false"/>
    <arg name="output" default="screen"/>
    <arg name="world_name" default="worlds/empty.world"/> <!-- Note: the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable -->
    <arg name="respawn_gazebo" default="false"/>
    <arg name="use_clock_frequency" default="false"/>
    <arg name="pub_clock_frequency" default="100"/>
    <arg name="enable_ros_network" default="true" />
    <arg name="server_required" default="false"/>
    <arg name="gui_required" default="false"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="/usr/share/gazebo-11/worlds/$(arg wname).world"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="headless" value="$(arg headless)"/>
    </include>
</launch>